<!-- tell compiler that this page is an extention of the base_layout -->
{% extends 'base_layout.html' %}

<!-- indicating the bit of code that needs to be rendered within the base_layout -->
{% block content %}
    <div class="all_questions">
        
        <div class="theQuestion text-dark">
            <h1>{{theQuestion.title}}</h1>
            <p>{{theQuestion.body}} </p>
            <p>{{theQuestionj.snippet}}</p>
            <p>{{theQuestion.date}}</p>
            
            
        </div>

        
    </div>    
{% endblock %}