<!-- tell compiler that this page is an extention of the base_layout -->
{% extends 'base_layout.html' %}

<!-- indicating the bit of code that needs to be rendered within the base_layout -->
{% block content %}
    <div class="all_questions">
        
        <div class="theQuestion text-dark">
            <h1>{{questionObj.title}}This is the section for a detailed question</h1>
            <p>{{questionObj.body}} If nothing else is visible before this particular sentence and on this same line,, then know that the object qwery was unsuccessful </p>
            <p>{{questionObj.snippet}}</p>
            <p>{{questionObj.date}}</p>
            
            
        </div>

        
    </div>    
{% endblock %}