<!-- tell compiler that this page is an extention of the base_layout -->
{% extends 'base_layout.html' %}

<!-- indicating the bit of code that needs to rendered within the base_layout -->
{% block content %}
    <h1>Here is the homepage</h1>
    <!-- create a container that carries all qtns in this django app -->
    <div class="homepage ">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At iure quisquam vel fuga natus magni? Veritatis adipisci, nisi earum officia a accusantium maxime molestiae asperiores perferendis. Illo dicta nihil voluptatum!</p>
    </div>
{% endblock %}