<!-- tell compiler that this page is an extention of the base_layout -->
{% extends 'base_layout.html' %}

<!-- indicating the bit of code that needs to be rendered within the base_layout -->
{% block content %}
    <div class="all_posts">
        
        <div class="thePost text-dark">
            <h1>{{commented_post.title}}</h1>
            <p>{{commented_post.body}} If nothing else is visible before this particular sentence and on this smae line,, then know that the object qwery was unsuccessful </p>
            <p>{{commented_post.snippet}}</p>
            <p>{{commented_post.date}}</p>
            <p>{{commented_post.author}}</p>
            
            
        </div>
        <hr>
        


        
    </div>    
{% endblock %}